---
import BrandCarouselReact from '../../islands/BrandCarrousel/BrandCarousel.jsx';
---



<div class="!text-gray-500 flex justify-center items-center p-6 font-bold text-xl">
  MARCAS CON LAS QUE TRABAJAMOS
</div>


<div class="carousel-container">


  <BrandCarouselReact client:load  />
</div>