---
import type { IProductDetailResponse } from "./../../types/IProducDetail";

interface RecordWithData extends Record<string, any> {
  detail?: IProductDetailResponse;
}

const { detail }: RecordWithData = Astro.props;

const data = detail as IProductDetailResponse;
---

<div class={`flex flex-col gap-2`}>
  <div class={`flex flex-col gap-2`}>
    {
      data?.descriptionTwo?.length > 0 && (
        <>
          <div class={`flex flex-col gap-2`}>
            <h2 class={`text-base font-semibold`}>Descripción</h2>
            <p class={`text-sm font-light`}>{data.descriptionTwo}</p>
          </div>
        </>
      )
    }
    {
      data?.descriptionFour?.length > 0 && (
        <div class={`flex flex-col gap-2`}>
          <h2 class={`text-base font-semibold`}>Especificaciones</h2>
          <p class={`text-sm font-light`}>{data.descriptionFour}</p>
        </div>
      )
    }
  </div>
</div>
