---
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" type="image/svg+xml" href="/images/logo.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Materiales para construccion en seco" />
    <meta name="author" content="Vallejos Materiales" />

    <meta name="robots" content="noindex, nofollow" />
    <meta name="googlebot" content="noindex, nofollow" />
    <meta name="google" content="notranslate" />

    <title>Vallejos Materiales</title></head
  >
</html>

<body>
  <div class="bg-indigo-900 relative overflow-hidden h-screen">
    <img
      src="https://dinahosting.com/blog/upload/2020/07/eror-404.jpg"
      class="absolute h-full w-full object-cover"
    />

    <footer class="absolute right-0 bottom-0 left-0 p-6 text-center">
      <a
        class="text-white hover:text-gray-400"
        href="https://www.vallejosmateriales.com.ar"
        rel="noopener noreferrer"
      >
        Volver al inicio
      </a>
    </footer>
  </div>
</body>
