---
import Footer from "./../../components/shared/Footer.astro";
import {
  configDataResponse,
  getColors,
  shipmentsResponse,
} from "../../services";
import { TOKEN_AUTH } from "../../config/constants";
import type { IConfig } from "../../types/IConfig";
import Navbar from "../../components/shared/Navbar.astro";
import { ViewTransitions } from "astro:transitions";
import PreFooter from "../../components/shared/PreFooter.astro";
import Shippings from "../../islands/Shippings";

import FooterMenu from "../../components/shared/FooterMenu.astro";

const cookies = Astro.cookies;
const token = cookies.get(TOKEN_AUTH);

const [config, colors]: [IConfig, any] = await Promise.all([
  configDataResponse(),
  getColors(),
]);

const shipments = await shipmentsResponse();

const data = { token: token?.value || null, config };
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/images/logo.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Envíos" />
    <meta name="author" content="Vallejos Materiales" />
    <meta
      name="keywords"
      content="Envíos, materiales, construccion, seco, vallejos, rosario, steel framing, durlock, placa cementicia"
    />
    <meta name="google" content="notranslate" />
    <title>Envíos - Vallejos Materiales</title>
    <ViewTransitions />
  </head>

  <body>
    <style>
      body {
        background-color: #ffffff;
      }
    </style>

    <Navbar
      {...{ data, token: token?.value, withSearch: true, isReduced: true }}
    />

    <div class="mt-20 ">
      <div class="flex justify-center "> 
        <!-- Imagen de envíos antes del componente Shippings -->
        <img
          src="/images/envios.jpg"
          alt="Imagen de Envíos"
          class="w-[250px] h-[125px] mx-auto"
        />
      </div>
      <div class="flex justify-center mb-10">
        <Shippings shipments={shipments} client:load />
      </div>
    </div>

    <Footer data={config} />

    <FooterMenu />
  </body>
</html>
